*{
    font-family: Arial;
}

/* header*/
.header{
    display: flex;
    background-color: rgb(188, 170, 139);
    padding: 35px;
}

.header-logo{
    margin-top: auto;
    margin-bottom: auto;
}

.header-logo img{
    height: 200px;
}

.header-title{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 50px;
}

.header-title a{
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}





.header-title a:hover{
    color: aqua;
}




/* nav bar */

.nav{
    background-color: rgb(232, 191, 222);
    padding:10px;
    margin-top: 0px;
    
}

.nav-item{
    display:inline-block;
    margin-left: 90px;
    height:20px;
}

.nav-item a{
    color:rgb(121, 8, 108);
    text-decoration: none;
}
.nav-item a:hover{
    color:rgb(95, 154, 160);
}
/* kontent*/
.konten{
    width:80%;
    margin:auto
}

.konten h1{
    color: rgb(114, 78, 53);
    font-size: 35px;
}
 
/* nav2 */
.nav2{
    background-color: rgb(208, 229, 252);
    padding:10px;
    margin-top: 0px;
}

/* form */

.form-group{
    margin-top: 20px;
    margin-bottom: 20px;
}
    
.form-group label{
    display: block;
    font-size:20px;
    color:rgb(18, 18, 18)
}

.form-group input{
    display: block;
    margin-top: 10px;
    width:60%;
}

.form-group textarea{
    display: block;
    margin-top:10px;
    height:200px;
    width:60%;
}

.btn{
    width:150px;
    height:50px;
    font-size:20px;
    font-weight:bold;
    color: rgb(31, 25, 3);
    background-color: burlywood;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

.btn:active{
    background-color: pink;
}
